@media screen  and (max-width: 576px){

    /* navbar and banner */

    header{
        padding-bottom: 20px;
    }

    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .nav-link, .contact-btn, .brand-container > h1{
        display: none;
    }

    .nav-icon-mobile{
        display: unset;
    }

    .nav-link-mobile{
        list-style-type: none;
        font-size: 1.25rem;
        visibility: hidden;
    }

    .nav-link-mobile{
        position: absolute;
        right: 40px;
        background-color: rgb(222, 245, 255);
        padding: 15px;
        border-radius: 10px;
        transition: all 0.5s ease;
        opacity: 0%;
    }

    .nav-link-mobile li{
        padding: 10px;
        cursor: pointer;
    }

    .nav-icon-mobile:hover > .nav-link-mobile{
        visibility: visible;
        opacity: 100%;
    }

    .banner-content{
        text-align: center;
    }

    .banner-title{
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .banner-content > p{
        font-size: 0.875rem;
        line-height: 1.3rem;
        margin-top: 18px 0px;
    }

    .btn-main{
        font-size: 1rem;
    }

/* Standard Curriculum */

.standard-curriculum{
    padding: 40px 0px;
}

.standard-curriculum-container{
    flex-direction: column;
}

.standard-curriculum > h1{
    font-size: 1.625rem;
    margin-bottom: 20px;
}

.standard-curriculum-box > h3{
    font-size: 1.2rem;
    margin-top: 22px;
}

.standard-curriculum-box > p{
    line-height: 1.5;
    margin: 22px 0px;
    width: 193px;
}



.chevron{
    display: none;
}

/* our-stories */

.our-stories{
    padding: 40px 0px;
}

.our-stories h1{
    margin-bottom: 30px;
    font-size: 1.625rem;
}

.our-stories-single-big-container{
    display: none;
}

.our-stories-date{
    font-size: 0.57rem;
    top: -20.5px;
    left: 18px;
}

.our-stories-grid-container{
    gap: 12px;
}

.our-stories-box > h3{
    font-size: 0.57rem;
    margin: 0px 20px 20px 20px;
}

.our-stories-btn{
    margin-top: 20px;
}

/* footer */

.footer-container{
    flex-direction: column;
    padding: 70px 0px 90px 0px;
}

.footer-brand{
    gap: 25px;
}

.footer-brand-logo h1{
    font-size: 2.23rem;
}

.footer-brand-logo img{
    width: 75px;
}

.footer-brand > p{
    font-size: 1rem;
    line-height: 1.5;
}

.footer-container{
    gap: 50px;
}

.footer-about-school ul{
    margin-top: 25px;
}

}